@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    What is an Employee Privacy Policy?
    An Employee Privacy Policy is a formal document used by employers to let their employees know how their personal Data is collected, used, stored and protected.

    The Policy includes the rules and procedures followed by the organization for gathering, using, and transferring the personal data of former, current, or future employees of the organization. This lets the employees know about their rights and grievance mechanisms to protect their personal data.

    Is it mandatory to have an Employee Privacy Policy?
    No, it is not mandatory. However, having an Employee Privacy Policy will help create confidence in employees regarding their personal data handled by the employer and avoid any potential disputes in future.


    What does "Personal Data" mean?
    Personal Data refers to any information that can identify an individual including their name, address, unique identification number, email address and employment records. This can be any data that can directly or indirectly identify an individual.


    What can be the duration of an Employee Privacy Policy?
    There is no defined period for the Employee Privacy Policy and often remains in effect during the existence of the organization. The contents of the policy need to be changed as per the updates in applicable laws and changes in the internal policies of the organization.


    What has to be done once an Employee Privacy Policy is ready?
    Once the policy is ready, it can be circulated to the employees through electronic medium or in physical copies. The organization may ask the employees to acknowledge this policy and send it back for record purposes. This Policy can be signed by the employees at the time of joining the organization or at a later date if not signed at the time of joining.

    It is always better to make the policy accessible to all employees and update them whenever any changes are made to this policy.
</p>